<html>
    <head>
        <title>About The Colors</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <link href='https://fonts.googleapis.com/css?family=Chelsea Market' rel='stylesheet'>
        <script src= 'https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script>
        <link href='https://fonts.googleapis.com/css?family=IM Fell English' rel='stylesheet'>
        <script>
          
          $(document).ready(function(){
            $('#red').mouseenter(function(){             
                $(this).css("background-color","#e4dccf");
                $(this).css("border-color","red");            
            });

            $('#red').mouseleave(function(){             
                $(this).css("background-color","#b2bcbb");
                $(this).css("border-color","black");            
            });

            $('#green').mouseenter(function(){             
                $(this).css("background-color","#e4dccf");
                $(this).css("border-color","green");            
            });

            $('#green').mouseleave(function(){             
                $(this).css("background-color","#e0b4a4");
                $(this).css("border-color","black");            
            });

            $('#yellow').mouseenter(function(){             
                $(this).css("background-color","#e4dccf");
                $(this).css("border-color","yellow");            
            });

            $('#yellow').mouseleave(function(){             
                $(this).css("background-color","#b2bcbb");
                $(this).css("border-color","black");            
            });

            $('#white').mouseenter(function(){             
                $(this).css("background-color","#e4dccf");
                $(this).css("border-color","white");            
            });

            $('#white').mouseleave(function(){             
                $(this).css("background-color","#e0b4a4");
                $(this).css("border-color","black");            
            });

            $('#orange').mouseenter(function(){             
                $(this).css("background-color","#e4dccf");
                $(this).css("border-color","orange");            
            });

            $('#orange').mouseleave(function(){             
                $(this).css("background-color","#b2bcbb");
                $(this).css("border-color","black");            
            });

            $('#beige').mouseenter(function(){             
                $(this).css("background-color","#e4dccf");
                $(this).css("border-color","beige");            
            });

            $('#beige').mouseleave(function(){             
                $(this).css("background-color","#e0b4a4");
                $(this).css("border-color","black");            
            });

            $('#pink').mouseenter(function(){             
                $(this).css("background-color","#e4dccf");
                $(this).css("border-color","pink");            
            });

            $('#pink').mouseleave(function(){             
                $(this).css("background-color","#b2bcbb");
                $(this).css("border-color","black");            
            });

            $('#scarlet').mouseenter(function(){             
                $(this).css("background-color","#e4dccf");
                $(this).css("border-color","red");            
            });

            $('#scarlet').mouseleave(function(){             
                $(this).css("background-color","#e0b4a4");
                $(this).css("border-color","black");            
            });

            $('#blue').mouseenter(function(){             
                $(this).css("background-color","#e4dccf");
                $(this).css("border-color","blue");            
            });

            $('#blue').mouseleave(function(){             
                $(this).css("background-color","#b2bcbb");
                $(this).css("border-color","black");            
            });

            $('#brown').mouseenter(function(){             
                $(this).css("background-color","#e4dccf");
                $(this).css("border-color","brown");            
            });

            $('#brown').mouseleave(function(){             
                $(this).css("background-color","#b2bcbb");
                $(this).css("border-color","black");            
            });

            $('#silver').mouseenter(function(){             
                $(this).css("background-color","#e4dccf");
                $(this).css("border-color","silver");            
            });

            $('#silver').mouseleave(function(){             
                $(this).css("background-color","#e0b4a4");
                $(this).css("border-color","black");            
            });

            $('#purple').mouseenter(function(){             
                $(this).css("background-color","#e4dccf");
                $(this).css("border-color","purple");            
            });

            $('#purple').mouseleave(function(){             
                $(this).css("background-color","#b2bcbb");
                $(this).css("border-color","black");            
            });



            
          });

          $(document).ready(function(){
        $('#navi').mouseenter(function(){
            $(this).css("border-color","#674a40");
            $('#logo').show();
        });

        $('#navi').mouseleave(function(){
            $(this).css("border-color","black");
            $('#logo').hide();
        });
    });
          </script>
          <style>
            .heading {
    font-family: 'Chelsea Market';
}
          </style>

<div class="m-4" style="background-color: #d4d4d4; border-radius: 15px; border: 5px solid black;" id="navi">
  <nav class="navbar navbar-expand-sm ">
    <div class="container-fluid">

      <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a href="/home-page" class="nav-link"
              style="color:black; font-family:IM Fell english ; font-size: 20px;">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
              style="color:black; font-family:IM Fell english; font-size: 20px;">Zodiac Signs</a>
            <div class="dropdown-menu" style="font-family: Amarante;background-color: #e4dccf;">
              <a href="/fire-zodiac-signs" class="dropdown-item" target="_blank">Aries</a>
              <a href="/earth-zodiac-signs" class="dropdown-item" target="_blank">Taurus</a>
              <a href="/air-zodiac-signs" class="dropdown-item" target="_blank">Gemini</a>
              <a href="/air-zodiac-signs" class="dropdown-item" target="_blank">Aquarius</a>
              <a href="/fire-zodiac-signs" class="dropdown-item" target="_blank">Leo</a>
              <a href="/air-zodiac-signs" class="dropdown-item" target="_blank">Libra</a>
              <a href="/fire-zodiac-signs" class="dropdown-item" target="_blank">Sagittarius</a>
              <a href="/water-zodiac-signs" class="dropdown-item" target="_blank">Scorpio</a>
              <a href="/water-zodiac-signs" class="dropdown-item" target="_blank">Cancer</a>
              <a href="/earth-zodiac-signs" class="dropdown-item" target="_blank">Capricorn</a>
              <a href="/water-zodiac-signs" class="dropdown-item" target="_blank">Pisces</a>
              <a href="/earth-zodiac-signs" class="dropdown-item" target="_blank">Virgo</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
              style="color:black; font-family:IM Fell english; font-size: 20px;">Elements</a>
            <div class="dropdown-menu" style="font-family: Amarante;background-color: #e4dccf;">
              <a href="/fire-element" class="dropdown-item" target="_blank">Fire</a>
              <a href="/water-element" class="dropdown-item" target="_blank">Water</a>
              <a href="/air-element" class="dropdown-item" target="_blank">Air</a>
              <a href="/earth-element" class="dropdown-item" target="_blank">Earth</a>

            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
              style="color:black; font-family:IM Fell english; font-size: 20px;">Compatibility</a>
            <div class="dropdown-menu" style="font-family: Amarante;background-color: #e4dccf;">
              <a href="/color-compatibility" class="dropdown-item" target="_blank">Colour compatibility</a>
              <a href="/zodiac-compatibility" class="dropdown-item" target="_blank">Zodiac compatibility</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
              style="color:black; font-family:IM Fell english; font-size: 20px;">Colours</a>
            <div class="dropdown-menu" style="font-family: Amarante; background-color: #e4dccf;">
              <a href="/about-the-colors" class="dropdown-item" target="_blank">About the colours</a>
              <a href="/color-compatibility" class="dropdown-item" target="_blank">Colour compatibility</a>
            </div>
          </li>
        </ul>

      </div>
      <p style="font-family:Georgia, 'Times New Roman', Times, serif;font-weight: bold;font-size: 20px;margin-right: 10px;color:#22404A;display:none;"
        id="logo">Zodix</p>
    </div>

  </nav>

</div>
        
    </head>
    <body style="background-image:url('Bg.png');background-repeat: repeat;background-size: contain;">
        <br>
        <h1 style="text-align:center;color:#E4DCCF;font-size: 40px;" class="heading">ABOUT THE COLORS</h1>
        <br>
        <div class="container">
            <div class="row">
                <div class="col" style="background-color:#b2bcbb;border:5px solid black;border-radius: 20px;" id="red">
                    <h1 style="text-align: center;color:#22404A">Red</h1>
                    <center><img th:src="@{/Zodiac Signs (Black)/Aries.png}" style="height:300px;width:300px;"></center>                   
            
            <div class="container mt-3">
                <center><button type="button" data-bs-toggle="modal" data-bs-target="#myModal" style="background-color:red;color:black;border-radius:8px; border:2px solid black ;height: 35px;width:200px" onclick='$.playSound("@{/static/click.mp3}")'>
                  <b>Click Me!</b>
                </button></center>
                <br>
              </div>
              
              <!-- The Modal -->
              <div class="modal" id="myModal">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header" style="background-color:red">
                      <h3 class="modal-title" style="color:white">Red</h3>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                        <p style="color:gray">Attributes: Adventurous, Bold, Direct</p>
                        <p>-->Friendliness and a love of excitement characterize people, like you, whose personality color is Red.</p>
                        <p>-->Bold, assertive, domineering, craving excitement—it is how you live your life. </p>
                        <p>-->You are not afraid to tell people exactly what you think, and you certainly do not hold back in any aspect of your life.</p>                      
                        <p>-->Passion and brashness can get you into trouble, but that is par for the course. </p>
                        <p>-->You are achievement-focused and work hard towards achieving what you desire. </p>
                        <p>-->Settling down is not on your agenda. Mistakes are made, but life keeps moving forward. </p>                  
                        <p>-->As a social animal, you do not mind (and might even thrive on) being the center of attention. </p>
                        <p>-->Extraverted is an understatement; you love getting to know people and discussing cool new opportunities with them.</p>            
                        <p>-->Popularity is key; your place in society and how people regard you is extremely important to your identity. </p>
                        <p>-->Everything needs to be efficient, clean, and, most importantly, sleek. </p>
                        <p>-->You are the life of the party and the face that brightens up the room.</p>
                    
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>
            
            </div>

                <div class="col" style="background-color:#E0B4A4;color:#22404A;border:5px solid black;border-radius: 20px;" id="green">
                    <h1 style="text-align: center;">Green</h1>
            <center><img th:src="@{/Zodiac Signs (Black)/Taurus.png}" style="height:300;width:300px"></center>



            <div class="container mt-3">
                <center><button type="button" data-bs-toggle="modal" data-bs-target="#myModal1" style="background-color:green;color:black;border-radius:8px; border:2px solid black ;height: 35px;width:200px" onclick='$.playSound("@{/static/click.mp3}")'>
                  <b>Click Me!</b>
                </button></center>
                <br>
              </div>
              
              <!-- The Modal -->
              <div class="modal" id="myModal1">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header" style="background-color:green">
                      <h3 class="modal-title" style="color:white">Green</h3>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                        <p style="color:gray">Attributes: Peaceful, Serene, Accommodating</p>
                        <p style="color:black">-->Peacefulness and tranquility characterize people, like you, whose personality color is green.</p>
                        <p style="color:black">-->As a Green, you are known for your chill vibes, and your body is rarely consumed with anxiety.</p>
                        <p style="color:black">-->Chores, work, and even exercise is easier when you are well rested and relaxed.</p>                      
                        <p style="color:black">-->Your life is centered around achieving maximum comfort, whether it is investing in luxuries like massage chairs and water beds or meditating and productively removing stress from your body.</p>
                        <p style="color:black">-->You are a deep sleeper and everything is better when it can be done from the comfort of your bed. Confrontation is not a part of your lifestyle. </p>
                        <p style="color:black">-->You prefer when issues resolve themselves or require minimal input and stress on your part.</p>                  
                        <p style="color:black">-->Accommodation is where you thrive—allowing others to achieve their peace without interrupting yours.</p>
                        <p style="color:black">-->Your chillness and cool, calm, collected way of composing yourself is attractive to a lot of people, but also means that you don’t take some things seriously that deserve uninterrupted attention.</p>            
                    
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>

                </div>

                <div class="col" style="background-color:#b2bcbb;color:#22404A;border:5px solid black;border-radius: 20px;" id="yellow">
                    <h1 style="text-align: center;">Yellow</h1>
            <center><img th:src="@{/Zodiac Signs (Black)/Gemini.png}" style="height:300;width:300px"></center>
            
            <div class="container mt-3">
                <center><button type="button" data-bs-toggle="modal" data-bs-target="#myModal2" style="background-color:rgb(225, 225, 41);color:black;border-radius:8px; border:2px solid black ;height: 35px;width:200px" onclick='$.playSound("@{/static/click.mp3}")'>
                  <b>Click Me!</b>
                </button></center>
                <br>
              </div>
              
              <!-- The Modal -->
              <div class="modal" id="myModal2">
                <div class="modal-dialog">
                  <div class="modal-content">
              
                    <!-- Modal Header -->
                    <div class="modal-header" style="background-color:rgb(225, 225, 41)">
                      <h3 class="modal-title" style="color:white">Yellow</h3>
                      <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
              
                    <!-- Modal body -->
                    <div class="modal-body" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                        <p style="color:gray">Attributes: Optimistic, Friendly, Perceptive</p>
                        <p style="color:black">-->As a yellow color personality, you have an illuminating and cheerful essence. You are a friendly soul, but you like keeping a small group of friends.</p>
                        <p style="color:black">-->You are a fun personality to be around. With your creative mind, you are always the one to suggest new ideas.</p>
                        <p style="color:black">-->But you struggle to make things happen and getting ideas off the drawing board.</p>                      
                        <p style="color:black">-->You can be optimistic but have an exceptional level of analytical thinking.</p>
                        <p style="color:black">-->you do not often come up with unrealistic ideas, but you also have some innocence level.</p>
                        <p style="color:black">-->You are a strong communicator and good at networking. </p>                  
                        <p style="color:black">-->Hardly ever, your mind has some rest, maybe when sleep (maybe!). Some might see it as a positive trait, but you, dear yellow personality, you know how well you could use a break from so much thinking.</p>
                        <p style="color:black">-->You are a very perfectionist person to the point that makes you overly critical about yourself and others.</p>
                        <p style="color:black">-->You can be overly cautious, fearful, and emotionally fragile if living from a negative perspective. These traits are the effects of overthinking.</p>
                        <p style="color:black">-->You are smart, and you know it. Just remember you do not know everything, although you do think about everything. Otherwise, others might see you as arrogant and snobbish</p>
                    </div>
              
                    <!-- Modal footer -->
                    <div class="modal-footer">
                      <button type="button" class="btn btn-info" data-bs-dismiss="modal" style="background-color:rgb(225, 225, 41);border: rgb(225, 225, 41);">Close</button>
                    </div>
              
                  </div>
                </div>
              </div>

                </div>
            </div>
            </div>
            <br>

            <!--******************************************************************************************-->

            <div class="container">
                <div class="row">
                    <div class="col" style="background-color:#E0B4A4;border:5px solid black;border-radius: 20px;" id="white">
                        <h1 style="text-align: center;color:#22404A">White</h1>
                <center><img th:src="@{/Zodiac Signs (Black)/Cancer.png}" style="height:300px;width:300px;"></center>
    
                <div class="container mt-3">
                    <center><button type="button" data-bs-toggle="modal" data-bs-target="#myModal3" style="background-color:whitesmoke;color:black;border-radius:8px; border:2px solid black ;height: 35px;width:200px" onclick='$.playSound("@{/static/click.mp3}")'>
                      <b>Click Me!</b>
                    </button></center>
                    <br>
                  </div>
                  
                  <!-- The Modal -->
                  <div class="modal" id="myModal3">
                    <div class="modal-dialog">
                      <div class="modal-content">
                  
                        <!-- Modal Header -->
                        <div class="modal-header" style="background-color:whitesmoke">
                          <h3 class="modal-title" style="color:#22404A">White</h3>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                  
                        <!-- Modal body -->
                        <div class="modal-body" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                            <p style="color:gray">Attributes: Calm, Optimistic, Virtuous</p>
                            <p>-->Being a personality color white means you have flawless standards of hygiene and cleanliness.</p>
                            <p>-->You are a tidy and neat person who can easily get overwhelmed in a chaotic and cluttered workspace or home.</p>
                            <p>-->Because of that, you may also have too high expectations for yourself and others, making you an overly critical person.</p>                      
                            <p>-->You have incredible levels of self-control, and unlike a red personality, You are absolutely not prone to impulsive behavior.</p>
                            <p>-->The combination of these characteristics might make you a fussy and fastidious person.</p>
                            <p>-->You might even want to hide your flaws to show the ultimate perfection that you strive for.</p>                  
                            <p>-->As a white color personality, you may be unfriendly and cold, showing some emptiness toward others. </p>
                            <p>-->Sometimes, you might struggle to be open-minded and flexible. Let other colors shine onto your soul to leave these traits behind your back.</p>            
                        
                        </div>
                  
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="background-color:#22404A;border:#22404A">Close</button>
                        </div>
                  
                      </div>
                    </div>
                  </div>
                
                </div>
    
                    <div class="col" style="background-color:#b2bcbb;color:#22404A;border:5px solid black;border-radius: 20px;" id="orange">
                        <h1 style="text-align: center;">Orange</h1>
                <center><img th:src="@{/Zodiac Signs (Black)/Leo.png}" style="height:300;width:300px"></center>
    
    
    
                <div class="container mt-3">
                    <center><button type="button" data-bs-toggle="modal" data-bs-target="#myModal4" style="background-color:orange;color:black;border-radius:8px; border:2px solid black ;height: 35px;width:200px" onclick='$.playSound("@{/static/click.mp3}")'>
                      <b>Click Me!</b>
                    </button></center>
                    <br>
                  </div>
                  
                  <!-- The Modal -->
                  <div class="modal" id="myModal4">
                    <div class="modal-dialog">
                      <div class="modal-content">
                  
                        <!-- Modal Header -->
                        <div class="modal-header" style="background-color:orange">
                          <h3 class="modal-title" style="color:white">Orange</h3>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                  
                        <!-- Modal body -->
                        <div class="modal-body" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                            <p style="color:gray">Attributes: Enthusiastic, Adventurer, Exhibitionist</p>
                            <p style="color:black">-->People who like orange color are not only warm and optimistic but also good-natured.</p>
                            <p style="color:black">-->You are a person full of vitality whose enthusiasm is contagious. </p>
                            <p style="color:black">-->Your tolerance and open-minded spirit welcome all sorts of crowds into your circle of friends.</p>                      
                            <p style="color:black">-->Your life is centered around achieving maximum comfort, whether it is investing in luxuries like massage chairs and water beds or meditating and productively removing stress from your body.</p>
                            <p style="color:black">-->But because you do not appreciate being tied down, you may not always be faithful in your relationships. </p>
                            <p style="color:black">-->Having a personality color orange means you a natural extrovert who needs constant social contact.</p>                  
                            <p style="color:black">-->In the same breath, You are a loud talker and a party animal who loves socializing and even showing off.</p>
                            <p style="color:black">-->Being a personality color orange means You are not one to let setbacks put you down.</p>            
                            <p style="color:black">-->Because You are competitive and have a strong need for social contact, you may be flamboyant at times.</p>
                            <p style="color:black">-->You can also be unpredictable, inconsistent, and impatient. If living from a negative perspective, you may be egoistic, aloof, and self-centered.</p>
                        
                        </div>
                  
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="background-color:orange;border:orange">Close</button>
                        </div>
                  
                      </div>
                    </div>
                  </div>
    
                    </div>
    
                    <div class="col" style="background-color:#E0B4A4;color:#22404A;border:5px solid black;border-radius: 20px;" id="beige">
                        <h1 style="text-align: center;">Beige</h1>
                <center><img th:src="@{/Zodiac Signs (Black)/Virgo.png}" style="height:300;width:300px"></center>
                
                <div class="container mt-3">
                    <center><button type="button" data-bs-toggle="modal" data-bs-target="#myModal5" style="background-color:beige;color:black;border-radius:8px; border:2px solid black ;height: 35px;width:200px" onclick='$.playSound("@{/static/click.mp3}")'>
                      <b>Click Me!</b>
                    </button></center>
                    <br>
                  </div>
                  
                  <!-- The Modal -->
                  <div class="modal" id="myModal5">
                    <div class="modal-dialog">
                      <div class="modal-content">
                  
                        <!-- Modal Header -->
                        <div class="modal-header" style="background-color:beige">
                          <h3 class="modal-title" style="color:#22404A">Beige</h3>
                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                  
                        <!-- Modal body -->
                        <div class="modal-body" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                            <p style="color:gray">Attributes: Welcoming, Friendly, Helpful</p>
                            <p style="color:black">-->You focus on life elements such as simple amenities, friends and family</p>
                            <p style="color:black">-->You are friendly, welcoming and helping others.</p>
                            <p style="color:black">-->You tend to prefer the ordinary, do not look prominent, have a strong desire to be perceived as usual, to be part of the majority.</p>                      
                            <p style="color:black">-->You are not impulsive by nature, you like to plan before you act, you are also restrained in temperament, often finding time to relax and recharge.</p>
                            <p style="color:black">-->You may have an obsessive tendency toward cleanliness.</p>             
                        </div>
                  
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="background-color:beige;border:beige;color:black">Close</button>
                        </div>
                  
                      </div>
                    </div>
                  </div>
    
                    </div>
                </div>
    
                
                </div>
                <br>

                <!--********************************************************************************-->


                <div class="container">
                    <div class="row">
                        <div class="col" style="background-color:#b2bcbb;border:5px solid black;border-radius: 20px;" id="pink">
                            <h1 style="text-align: center;color:#22404A">Pink</h1>
                    <center><img th:src="@{/Zodiac Signs (Black)/Libra.png}" style="height:300px;width:300px;"></center>
        
                    <div class="container mt-3">
                        <center><button type="button" data-bs-toggle="modal" data-bs-target="#myModal6" style="background-color:pink;color:black;border-radius:8px; border:2px solid black ;height: 35px;width:200px" onclick='$.playSound("@{/static/click.mp3}")'>
                          <b>Click Me!</b>
                        </button></center>
                        <br>
                      </div>
                      
                      <!-- The Modal -->
                      <div class="modal" id="myModal6">
                        <div class="modal-dialog">
                          <div class="modal-content">
                      
                            <!-- Modal Header -->
                            <div class="modal-header" style="background-color:pink">
                              <h3 class="modal-title" style="color:white">Pink</h3>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                      
                            <!-- Modal body -->
                            <div class="modal-body" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                                <p style="color:gray">Attributes: Caring, Immature, Generous</p>
                                <p>-->People whos personality color is pink are loving and kind. They are generous and happy to help others when they need a should to cry on.</p>
                                <p>-->If your personality color is pink, you are very sensitive to other peoples needs and feelings. </p>
                                <p>-->With your caring nature, you go above and beyond for others. Still, these characteristics, together with your youthful in appearance, might make you vulnerable.</p>                      
                                <p>-->The world needs more good souls like you, just be mindful not to give too much of yourself. </p>
                                <p>-->Having a personality color pink means you are romantic and approachable. People are drawn to your charm and sweet calmness.</p>
                                <p>-->You are a reserved person and prefer to have a small group of friends.</p>                  
                                <p>-->Being a personality color pink means you relish in giving and receiving nurture. Still, you may be very disappointed when you do not receive the unconditional love you are prepared to give.</p>
                                <p>-->Learning how to love yourself is your life challenge.</p>            
                                <p>-->As a pink color personality, you often try to see the good in others. You are an optimistic spirit, and no challenge is too difficult for you.</p>
                                <p>-->But you tend to see the world through rose-colored glasses. You lack self-confidence and always seek others attention, like a sweet child.</p>
                                <p>-->You may be immature and naive at times.</p>
                            
                            </div>
                      
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="background-color:pink;border:pink;">Close</button>
                            </div>
                      
                          </div>
                        </div>
                      </div>
                    
                    </div>
        
                        <div class="col" style="background-color:#E0B4A4;color:#22404A;border:5px solid black;border-radius: 20px;" id="scarlet">
                            <h1 style="text-align: center;">Scarlet</h1>
                    <center><img th:src="@{/Zodiac Signs (Black)/Scorpio.png}" style="height:300;width:300px"></center>
        
        
        
                    <div class="container mt-3">
                        <center><button type="button" data-bs-toggle="modal" data-bs-target="#myModal7" style="background-color:#FF2400;color:black;border-radius:8px; border:2px solid black ;height: 35px;width:200px" onclick='$.playSound("@{/static/click.mp3}")'>
                          <b>Click Me!</b>
                        </button></center>
                        <br>
                      </div>
                      
                      <!-- The Modal -->
                      <div class="modal" id="myModal7">
                        <div class="modal-dialog">
                          <div class="modal-content">
                      
                            <!-- Modal Header -->
                            <div class="modal-header" style="background-color:#FF2400">
                              <h3 class="modal-title" style="color:white">Scarlet</h3>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                      
                            <!-- Modal body -->
                            <div class="modal-body" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                                <p style="color:gray">Attributes: Adventurous, Bold, Direct</p>
                                <p>-->Friendliness and a love of excitement characterize people, like you, whose personality color is Red.</p>
                                <p>-->Bold, assertive, domineering, craving excitement—it is how you live your life. </p>
                                <p>-->You are not afraid to tell people exactly what you think, and you certainly do not hold back in any aspect of your life.</p>                      
                                <p>-->Passion and brashness can get you into trouble, but that is par for the course. </p>
                                <p>-->You are achievement-focused and work hard towards achieving what you desire. </p>
                                <p>-->Settling down is not on your agenda. Mistakes are made, but life keeps moving forward. </p>                  
                                <p>-->As a social animal, you do not mind (and might even thrive on) being the center of attention. </p>
                                <p>-->Extraverted is an understatement; you love getting to know people and discussing cool new opportunities with them.</p>            
                                <p>-->Popularity is key; your place in society and how people regard you is extremely important to your identity. </p>
                                <p>-->Everything needs to be efficient, clean, and, most importantly, sleek. </p>
                                <p>-->You are the life of the party and the face that brightens up the room.</p>
                            
                            </div>
                      
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            </div>
                      
                          </div>
                        </div>
                      </div>
        
                        </div>
        
                        <div class="col" style="background-color:#b2bcbb;color:#22404A;border:5px solid black;border-radius: 20px;" id="blue">
                            <h1 style="text-align: center;">Blue</h1>
                    <center><img th:src="@{/Zodiac Signs (Black)/Sagittarius.png}" style="height:300;width:300px"></center>
                    
                    <div class="container mt-3">
                        <center><button type="button" data-bs-toggle="modal" data-bs-target="#myModal8" style="background-color:blue;color:black;border-radius:8px; border:2px solid black ;height: 35px;width:200px" onclick='$.playSound("@{/static/click.mp3}")'>
                          <b>Click Me!</b>
                        </button></center>
                        <br>
                      </div>
                      
                      <!-- The Modal -->
                      <div class="modal" id="myModal8">
                        <div class="modal-dialog">
                          <div class="modal-content">
                      
                            <!-- Modal Header -->
                            <div class="modal-header" style="background-color:blue">
                              <h3 class="modal-title" style="color:white">Blue</h3>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                      
                            <!-- Modal body -->
                            <div class="modal-body" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                                <p style="color:gray">Attributes: Honest, Reliable, Responsible</p>
                                <p style="color:black">-->Having a personality color blue means you are committed to your tasks and takes pleasure in helping others.</p>
                                <p style="color:black">-->You are a giver, not a taker. You are a good listener too.</p>
                                <p style="color:black">-->Beyond that, you value having healthy relationships and feel deeply hurt when betrayed.</p>                      
                                <p style="color:black">-->And because you are loyal, you need to be useful to your loved ones so that you, on a subconscious level, can show your loyalty..</p>
                                <p style="color:black">-->Although a communicative person, you have a small group of friends, who you value highly. Sometimes, you might even put other peoples needs above yours.</p>
                                <p style="color:black">-->Because of these traits, you are a loyal and faithful marriage partner and sincere friend. Still, you have a tendency to become dependent on those you love.</p>                  
                                <p style="color:black">-->Conflicts and disharmony can deeply upset you. You are a person who needs to live in harmony and order.</p>
                                <p style="color:black">-->In the same breath, chaotic and disorganized environments, either at home or on your workspace, make you feel overwhelmed and misplaced.</p>
                                <p style="color:black">-->As a blue color personality, you strive for balance and consistency, so make sure to keep your environment organized to get the best out of yourself.</p>
                                <p style="color:black">-->You are so determined and persistent that you might also be conservative and predictable. Changes are not easy for you.</p>
                                <p style="color:black">-->You can be rigid, preferring to stick to the familiar, rather than venturing out in new, risky things.</p>
                                <p style="color:black">-->You can also be authoritative and stubbornly do things your way, even if you know there is a better way.</p>
                                <p style="color:black">-->You enjoy lingering in the past and may catch yourself being nostalgic.</p>
                            </div>
                      
                            <!-- Modal footer -->
                            <div class="modal-footer">
                              <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="background-color:blue;border: blue;">Close</button>
                            </div>
                      
                          </div>
                        </div>
                      </div>
        
                        </div>
                    </div>
                    </div>
                    <br>
        
                    <!--******************************************************************************************-->
        
                    <div class="container">
                        <div class="row">
                            <div class="col" style="background-color:#E0B4A4;border:5px solid black;border-radius: 20px;" id="brown">
                                <h1 style="text-align: center;color:#22404A">Brown</h1>
                        <center><img th:src="@{/Zodiac Signs (Black)/Capricorn.png}" style="height:300px;width:300px;"></center>
            
                        <div class="container mt-3">
                            <center><button type="button" data-bs-toggle="modal" data-bs-target="#myModal78" style="background-color:brown;color:black;border-radius:8px; border:2px solid black ;height: 35px;width:200px" onclick='$.playSound("@{/static/click.mp3}")'>
                              <b>Click Me!</b>
                            </button></center>
                            <br>
                          </div>
                          
                          <!-- The Modal -->
                          <div class="modal" id="myModal78">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header" style="background-color:brown">
                                  <h3 class="modal-title" style="color:white">Brown</h3>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                                    <p style="color:gray">Attributes: Sensual, Warm, Supporting</p>
                                    <p>-->Others are comfortable in your presence and find it easy to open up to and confide in you.</p>
                                    <p>-->You are hard-working, industrious and reliable.</p>
                                    <p>-->You take life seriously but have a subtle dry sense of humor.</p>                      
                                    <p>-->You like a structured life with everything in its place, although you are not a perfectionist by any means.</p>
                                    <p>-->You are materialistic, appreciating quality in everything - a comfortable home, the best food and drink and loyal companionship.</p>
                                    <p>-->You may suppress your emotions at times, retreating from the outside world.</p>                  
                                    <p>-->Others are drawn to you when they need comfort and support - you have a warm and encouraging manner that gives reassurance to others.</p>
                                    <p>-->You prefer to stay in your own safe little world - you don't like your little world to be upset by anything.</p>            
                                
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="background-color:brown;border:brown">Close</button>
                                </div>
                          
                              </div>
                            </div>
                          </div>
                        
                        </div>
            
                            <div class="col" style="background-color:#b2bcbb;color:#22404A;border:5px solid black;border-radius: 20px;" id="silver">
                                <h1 style="text-align: center;">Silver</h1>
                        <center><img th:src="@{/Zodiac Signs (Black)/Aquarius.png}" style="height:300;width:300px"></center>
            
            
            
                        <div class="container mt-3">
                            <center><button type="button" data-bs-toggle="modal" data-bs-target="#myModal99" style="background-color:silver;color:black;border-radius:8px; border:2px solid black ;height: 35px;width:200px" onclick='$.playSound("@{/static/click.mp3}")'>
                              <b>Click Me!</b>
                            </button></center>
                            <br>
                          </div>
                          
                          <!-- The Modal -->
                          <div class="modal" id="myModal99">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header" style="background-color:silver">
                                  <h3 class="modal-title" style="color:white">Silver</h3>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                                    <p style="color:gray">Attributes: Moody, Responsible, Gracious</p>
                                    <p style="color:black">-->Your wisdom, self-control and sense of responsibility, will usually assist you to make good decisions fairly quickly. However if living negatively you will find it difficult to make decisions, sitting on the fence as you waft between one choice and another.</p>
                                    <p style="color:black">-->As a silver personality, you tend to have an understated air of sophistication, dignity and classiness about you. With a combination of good looks, talent and personality many would deem you to have luck on your side.</p>
                                    <p style="color:black">-->Your tolerance and open-minded spirit welcome all sorts of crowds into your circle of friends.</p>                      
                                    <p style="color:black">-->You are gracious, gentle and non-aggressive with strong values and morals.</p>
                                    <p style="color:black">-->While you can be romantic and loving, you don't let your heart overrule your head in romantic matters.</p>
                                    <p style="color:black">-->You can sometimes be moody as you are affected by the lunar cycle and the ebb and flow of the tides.</p>                  
                                    <p style="color:black">-->Being a personality color silver, you are quite modern and futuristic in your outlook, rather than being sentimental and looking to the past for inspiration.</p>
                                    <p style="color:black">-->From a negative perspective, you could be living a life of delusion and deception as you sometimes dwell in an unrealistic fantasy world.</p>            
                                    <p style="color:black">-->You will find both your negative and positive qualities reflected back to you time and time again until you take action to change them.</p>
                                   
                                
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="background-color:silver;border:silver">Close</button>
                                </div>
                          
                              </div>
                            </div>
                          </div>
            
                            </div>
            
                            <div class="col" style="background-color:#E0B4A4;color:#22404A;border:5px solid black;border-radius: 20px;" id="purple">
                                <h1 style="text-align: center;">Purple</h1>
                        <center><img th:src="@{/Zodiac Signs (Black)/Pisces.png}" style="height:300;width:300px"></center>
                        
                        <div class="container mt-3">
                            <center><button type="button" data-bs-toggle="modal" data-bs-target="#myModal33" style="background-color:purple;color:black;border-radius:8px; border:2px solid black ;height: 35px;width:200px" onclick='$.playSound("@{/static/click.mp3}")'>
                              <b>Click Me!</b>
                            </button></center>
                            <br>
                          </div>
                          
                          <!-- The Modal -->
                          <div class="modal" id="myModal33">
                            <div class="modal-dialog">
                              <div class="modal-content">
                          
                                <!-- Modal Header -->
                                <div class="modal-header" style="background-color:purple">
                                  <h3 class="modal-title" style="color:white">Purple</h3>
                                  <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>
                          
                                <!-- Modal body -->
                                <div class="modal-body" style="font-family:Verdana, Geneva, Tahoma, sans-serif">
                                    <p style="color:gray">Attributes: Introvert, Compassionate, Supportive</p>
                                    <p style="color:black">-->More often than not, you are introvert rather than an extrovert. And although people might see you as shy, you are an insightful person with an independent spirit.You enjoy being by yourself and values individuality.</p>
                                    <p style="color:black">-->But having a personality color purple means you are sensitive and very supportive. You may prefer to be alone, but you will never let a friend in need.</p>
                                    <p style="color:black">-->As a humanitarian, you strive to help others and make this a better world. But so much supportiveness might come with a price, people often take advantage of your kind heart.</p>                      
                                    <p style="color:black">-->Your creative way of thinking inspires those in your social circle. You are the idealistic and daydreamer who travels into the future, always a better future.</p>
                                    <p style="color:black">-->As an intuitive person, you’re sensitive to other peoples problems. Emotional stability is key to a harmonious life.You might want to do some meditation to help you balance your emotions.</p>             
                                </div>
                          
                                <!-- Modal footer -->
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal" style="background-color:purple;border:purple;color:black">Close</button>
                                </div>
                          
                              </div>
                            </div>
                          </div>
            
                            </div>
                        </div>
            
                        
                        </div>



            
            <br>
            <div style="background-color:#e4dccf;color:#22404A;text-align: center;font-weight: bold;">
              <p>
                Made By Soumyyaa Jain & Gargi Shukla
              </p>
            </div>
              

    </body>
</html>

 