<html>
    <head>
        <title>Air element </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <link href='https://fonts.googleapis.com/css?family=Chelsea Market' rel='stylesheet'>
   <link href='https://fonts.googleapis.com/css?family=IM Fell English' rel='stylesheet'>

   <script>
    $(document).ready(function(){
        $('h1').mouseenter(function(){
            $(this).css('background-image','url(air.gif)');
            $(this).css('color','white');
        });
        $('h1').mouseleave(function(){
            $(this).css('background-image','none');
            $(this).css('color','#E0B4A4');
        });

        $('img').mouseenter(function(){
            $(this).css('background-color','#e4dccf');
            
        });

        $('img').mouseleave(function(){
            $(this).css('background-color','#E0B4A4');
            
        });
    });

    $(document).ready(function(){
        $('#navi').mouseenter(function(){
            $(this).css("border-color","#674a40");
            $('#logo').show();
        });

        $('#navi').mouseleave(function(){
            $(this).css("border-color","black");
            $('#logo').hide();
        });
    });
   </script>

<div class="m-4" style="background-color: #d4d4d4; border-radius: 15px; border: 5px solid black;" id="navi">
    <nav class="navbar navbar-expand-sm ">
        <div class="container-fluid">

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="/home-page" class="nav-link"
                            style="color:black; font-family:IM Fell english ; font-size: 20px;">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                            style="color:black; font-family:IM Fell english; font-size: 20px;">Zodiac Signs</a>
                        <div class="dropdown-menu" style="font-family: Amarante;background-color: #e4dccf;">
                            <a href="/fire-zodiac-signs" class="dropdown-item" target="_blank">Aries</a>
                            <a href="/earth-zodiac-signs" class="dropdown-item" target="_blank">Taurus</a>
                            <a href="/air-zodiac-signs" class="dropdown-item" target="_blank">Gemini</a>
                            <a href="/air-zodiac-signs" class="dropdown-item" target="_blank">Aquarius</a>
                            <a href="/fire-zodiac-signs" class="dropdown-item" target="_blank">Leo</a>
                            <a href="/air-zodiac-signs" class="dropdown-item" target="_blank">Libra</a>
                            <a href="/fire-zodiac-signs" class="dropdown-item" target="_blank">Sagittarius</a>
                            <a href="/water-zodiac-signs" class="dropdown-item" target="_blank">Scorpio</a>
                            <a href="/water-zodiac-signs" class="dropdown-item" target="_blank">Cancer</a>
                            <a href="/earth-zodiac-signs" class="dropdown-item" target="_blank">Capricorn</a>
                            <a href="/water-zodiac-signs" class="dropdown-item" target="_blank">Pisces</a>
                            <a href="/earth-zodiac-signs" class="dropdown-item" target="_blank">Virgo</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                            style="color:black; font-family:IM Fell english; font-size: 20px;">Elements</a>
                        <div class="dropdown-menu" style="font-family: Amarante;background-color: #e4dccf;">
                            <a href="/fire-element" class="dropdown-item" target="_blank">Fire</a>
                            <a href="/water-element" class="dropdown-item" target="_blank">Water</a>
                            <a href="/air-element" class="dropdown-item" target="_blank">Air</a>
                            <a href="/earth-element" class="dropdown-item" target="_blank">Earth</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                            style="color:black; font-family:IM Fell english; font-size: 20px;">Compatibility</a>
                        <div class="dropdown-menu" style="font-family: Amarante;background-color: #e4dccf;">
                            <a href="/color-compatibility" class="dropdown-item" target="_blank">Colour
                                compatibility</a>
                            <a href="/zodiac-compatibility" class="dropdown-item" target="_blank">Zodiac
                                compatibility</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                            style="color:black; font-family:IM Fell english; font-size: 20px;">Colours</a>
                        <div class="dropdown-menu" style="font-family: Amarante; background-color: #e4dccf;">
                            <a href="/about-the-colors" class="dropdown-item" target="_blank">About the colours</a>
                            <a href="/color-compatibility" class="dropdown-item" target="_blank">Colour
                                compatibility</a>
                        </div>
                    </li>
                </ul>

            </div>
            <p style="font-family:Georgia, 'Times New Roman', Times, serif;font-weight: bold;font-size: 20px;margin-right: 10px;color:#22404A;display:none;"
                id="logo">Zodix</p>
        </div>

    </nav>

</div>

   </head>

   <body style="background-color: #E0B4A4;">
    <br>
    <h1 style="color: #E0B4A4; text-align: center; font-family:Chelsea Market; font-size: 60px;background-color: #4C6A78;">Air Element</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <br>
                <center><img th:src="@{/zodiac-wheel.png}" style="height: 470px;border:5px solid #22404A" ></center>
            </div>
            <div class="col">

                <p style="color:#22404A ; margin-top: 60px; font-size: 25px; text-align: justify; margin-right: 20px;">
                    <b>
                        This is the element that connects all other elements, even though it might seem less relevant, 
                        invisible as it is. The distance from the nature of Earth lifts us up high, in impractical and 
                        mental planes that do not satisfy our physical needs. Still, this is the element that can be found 
                        in all others, keeps the fire going just like the Sun burns hydrogen. We may say that the beginning 
                        of life would not be possible without Fire, but there would be no Fire on our planet without Air.
                        The element of Air gives us room to breathe, widens our lungs, and with them, opens our Soul to 
                        personal freedom. All signs that belong to this element have a strong need to feel liberated and free.
                </b>
                </p>
            </div>


        </div>
        <br><br>
    </div>
    <center><hr style="width:500px;border:5px #22404A;border-style: dashed;"></center>
    <p style="color:#22404A ; margin-top: 60px; font-size: 25px; text-align: justify; margin-right: 20px; margin-left: 20px;font-family: IM Fell English;"> 
        Signs that represent the element of Air in the zodiac are Gemini, Libra and Aquarius. 
        It is interesting to notice that two of them have a problem with the Sun, Libra taking 
        it to fall and Aquarius to detriment. This is understandable for the Sun keeps all things 
        in order and circling around it, and Air needs to be free to circle the Universe instead.
        Looking at the bigger picture, people born under the strong influence of these signs have 
        a problem fitting into a regular order of their surroundings, no matter if it is their 
        country or their workplace. Their main goal in life is often just to stop pleasing others 
        and worrying about their opinions, so they can be able to follow their brightest and most 
        liberating ideas.
    </p>

    <div style="background-color:#4C6A78;color:#E0B4A4;text-align: center;font-weight: bold;">
        <p>
          Made By Soumyyaa Jain & Gargi Shukla
        </p>
      </div>
   </body>
</html>