<html>
    <head>
        <title>Water element </title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <link href='https://fonts.googleapis.com/css?family=Chelsea Market' rel='stylesheet'>
   <link href='https://fonts.googleapis.com/css?family=IM Fell English' rel='stylesheet'>

   <script>
    $(document).ready(function(){
        $('h1').mouseenter(function(){
            $(this).css('background-image','url(water.gif)');
            $(this).css('color','white');
        });
        $('h1').mouseleave(function(){
            $(this).css('background-image','none');
            $(this).css('color','#E0B4A4');
        });
    });

    $(document).ready(function(){
        $('#navi').mouseenter(function(){
            $(this).css("border-color","#674a40");
            $('#logo').show();
        });

        $('#navi').mouseleave(function(){
            $(this).css("border-color","black");
            $('#logo').hide();
        });

        $('img').mouseenter(function(){
            $(this).css('background-color','#e4dccf');
            
        });

        $('img').mouseleave(function(){
            $(this).css('background-color','#E0B4A4');
            
        });
    });
   </script>

<div class="m-4" style="background-color: #d4d4d4; border-radius: 15px; border: 5px solid black;" id="navi">
    <nav class="navbar navbar-expand-sm ">
        <div class="container-fluid">

            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div id="navbarCollapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a href="/home-page" class="nav-link"
                            style="color:black; font-family:IM Fell english ; font-size: 20px;">Home</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                            style="color:black; font-family:IM Fell english; font-size: 20px;">Zodiac Signs</a>
                        <div class="dropdown-menu" style="font-family: Amarante;background-color: #e4dccf;">
                            <a href="/fire-zodiac-signs" class="dropdown-item" target="_blank">Aries</a>
                            <a href="/earth-zodiac-signs" class="dropdown-item" target="_blank">Taurus</a>
                            <a href="/air-zodiac-signs" class="dropdown-item" target="_blank">Gemini</a>
                            <a href="/air-zodiac-signs" class="dropdown-item" target="_blank">Aquarius</a>
                            <a href="/fire-zodiac-signs" class="dropdown-item" target="_blank">Leo</a>
                            <a href="/air-zodiac-signs" class="dropdown-item" target="_blank">Libra</a>
                            <a href="/fire-zodiac-signs" class="dropdown-item" target="_blank">Sagittarius</a>
                            <a href="/water-zodiac-signs" class="dropdown-item" target="_blank">Scorpio</a>
                            <a href="/water-zodiac-signs" class="dropdown-item" target="_blank">Cancer</a>
                            <a href="/earth-zodiac-signs" class="dropdown-item" target="_blank">Capricorn</a>
                            <a href="/water-zodiac-signs" class="dropdown-item" target="_blank">Pisces</a>
                            <a href="/earth-zodiac-signs" class="dropdown-item" target="_blank">Virgo</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                            style="color:black; font-family:IM Fell english; font-size: 20px;">Elements</a>
                        <div class="dropdown-menu" style="font-family: Amarante;background-color: #e4dccf;">
                            <a href="/fire-element" class="dropdown-item" target="_blank">Fire</a>
                            <a href="/water-element" class="dropdown-item" target="_blank">Water</a>
                            <a href="/air-element" class="dropdown-item" target="_blank">Air</a>
                            <a href="/earth-element" class="dropdown-item" target="_blank">Earth</a>

                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                            style="color:black; font-family:IM Fell english; font-size: 20px;">Compatibility</a>
                        <div class="dropdown-menu" style="font-family: Amarante;background-color: #e4dccf;">
                            <a href="/color-compatibility" class="dropdown-item" target="_blank">Colour
                                compatibility</a>
                            <a href="/zodiac-compatibility" class="dropdown-item" target="_blank">Zodiac
                                compatibility</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                            style="color:black; font-family:IM Fell english; font-size: 20px;">Colours</a>
                        <div class="dropdown-menu" style="font-family: Amarante; background-color: #e4dccf;">
                            <a href="/about-the-colors" class="dropdown-item" target="_blank">About the colours</a>
                            <a href="/color-compatibility" class="dropdown-item" target="_blank">Colour
                                compatibility</a>
                        </div>
                    </li>
                </ul>

            </div>
            <p style="font-family:Georgia, 'Times New Roman', Times, serif;font-weight: bold;font-size: 20px;margin-right: 10px;color:#22404A;display:none;"
                id="logo">Zodix</p>
        </div>

    </nav>

</div>
   </head>

   <body style="background-color: #E0B4A4;">
    <br>
    <h1 style="color: #E0B4A4; text-align: center; font-family:Chelsea Market; font-size: 60px;background-color: #4C6A78;">Water Element</h1>



    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <br>
                <center><img th:src="@{/zodiac-wheel.png}" style="height: 470px;border:5px solid #22404A" ></center>
            </div>
            <div class="col">

                <p style="color:#22404A ; margin-top: 60px; font-size: 25px; text-align: justify; margin-right: 20px;">
                    <b>
                        This is the element of constant movement, but slow and steady, swirling 
                        inside each of us and holding on to its mystery. This is the element of 
                        conception and death, of illusions and fairytales, holding the secret to our 
                        Soul - its beginning and its end.
                        In the element of Water we literally deal with matters of life and death, of 
                        our genetic inheritance and all of our ancestors. Strangely, this is also the 
                        element of emotions. We all have to understand that our emotions have already 
                        been lived through by someone in our family tree, and they are passed on from 
                        generation to generation, mostly through the role of the mother.
                </b>
                </p>
            </div>


        </div>
        <br><br>
    </div>
    <center><hr style="width:500px;border:5px #22404A;border-style: dashed;"></center>
    <p style="color:#22404A ; margin-top: 60px; font-size: 25px; text-align: justify; margin-right: 20px; margin-left: 20px;font-family: IM Fell English;"> 
        Signs belonging to the element of Water are Cancer, Scorpio and Pisces. This makes the 
        entire need of this element a bit complicated, for the ruler of Cancer falls in Scorpio, 
        and Pisces seem to be there to hide its body. Perhaps this is the greatest task of all, 
        for each of us to embrace emotion, accept the negative as much as the positive, anger and 
        sadness as much as love.
        Typical representatives of the element of Air have often been said to be too emotional. 
        They could deal with a lot of suffering before they realize that there is no such thing. 
        Their sensitivity and fragile nature make them perfect for advisors and compassionate 
        therapists, helping those with deep emotional problems. They came to this planet to teach
        everyone else that love is truly endless and feelings our greatest quality.
    </p>

    <div style="background-color:#4C6A78;color:#E0B4A4;text-align: center;font-weight: bold;">
        <p>
          Made By Soumyyaa Jain & Gargi Shukla
        </p>
      </div>
   </body>
</html>