<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet">
   <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
   <link href='https://fonts.googleapis.com/css?family=Chelsea Market' rel='stylesheet'>

   <script>
    $(document).ready(function(){
        $("#cancerimg").click(function(){
            $("#cancer").slideToggle();
        });
    });
    $(document).ready(function(){
        $("#piscesimg").click(function(){
            $("#pisces").slideToggle();
        });
    });
    $(document).ready(function(){
        $("#scorpioimg").click(function(){
            $("#scorpio").slideToggle();
        });
    });

    $(document).ready(function(){
        $('#navi').mouseenter(function(){
            $(this).css("border-color","#674a40");
            $('#logo').show();
        });

        $('#navi').mouseleave(function(){
            $(this).css("border-color","black");
            $('#logo').hide();
        });
    });
</script>
   
        <title>
            Water signs
        </title>

        <div class="m-4" style="background-color: #d4d4d4; border-radius: 15px; border: 5px solid black;" id="navi">
            <nav class="navbar navbar-expand-sm ">
                <div class="container-fluid">
        
                    <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div id="navbarCollapse" class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="nav-item">
                                <a href="/home-page" class="nav-link"
                                    style="color:black; font-family:IM Fell english ; font-size: 20px;">Home</a>
                            </li>
        
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                                    style="color:black; font-family:IM Fell english; font-size: 20px;">Zodiac Signs</a>
                                <div class="dropdown-menu" style="font-family: Amarante;background-color: #e4dccf;">
                                    <a href="/fire-zodiac-signs" class="dropdown-item" target="_blank">Aries</a>
                                    <a href="/earth-zodiac-signs" class="dropdown-item" target="_blank">Taurus</a>
                                    <a href="/air-zodiac-signs" class="dropdown-item" target="_blank">Gemini</a>
                                    <a href="/air-zodiac-signs" class="dropdown-item" target="_blank">Aquarius</a>
                                    <a href="/fire-zodiac-signs" class="dropdown-item" target="_blank">Leo</a>
                                    <a href="/air-zodiac-signs" class="dropdown-item" target="_blank">Libra</a>
                                    <a href="/fire-zodiac-signs" class="dropdown-item" target="_blank">Sagittarius</a>
                                    <a href="/water-zodiac-signs" class="dropdown-item" target="_blank">Scorpio</a>
                                    <a href="/water-zodiac-signs" class="dropdown-item" target="_blank">Cancer</a>
                                    <a href="/earth-zodiac-signs" class="dropdown-item" target="_blank">Capricorn</a>
                                    <a href="/water-zodiac-signs" class="dropdown-item" target="_blank">Pisces</a>
                                    <a href="/earth-zodiac-signs" class="dropdown-item" target="_blank">Virgo</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                                    style="color:black; font-family:IM Fell english; font-size: 20px;">Elements</a>
                                <div class="dropdown-menu" style="font-family: Amarante;background-color: #e4dccf;">
                                    <a href="/fire-element" class="dropdown-item" target="_blank">Fire</a>
                                    <a href="/water-element" class="dropdown-item" target="_blank">Water</a>
                                    <a href="/air-element" class="dropdown-item" target="_blank">Air</a>
                                    <a href="/earth-element" class="dropdown-item" target="_blank">Earth</a>
        
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                                    style="color:black; font-family:IM Fell english; font-size: 20px;">Compatibility</a>
                                <div class="dropdown-menu" style="font-family: Amarante;background-color: #e4dccf;">
                                    <a href="/color-compatibility" class="dropdown-item" target="_blank">Colour
                                        compatibility</a>
                                    <a href="/zodiac-compatibility" class="dropdown-item" target="_blank">Zodiac
                                        compatibility</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
                                    style="color:black; font-family:IM Fell english; font-size: 20px;">Colours</a>
                                <div class="dropdown-menu" style="font-family: Amarante; background-color: #e4dccf;">
                                    <a href="/about-the-colors" class="dropdown-item" target="_blank">About the colours</a>
                                    <a href="/color-compatibility" class="dropdown-item" target="_blank">Colour
                                        compatibility</a>
                                </div>
                            </li>
                        </ul>
        
                    </div>
                    <p style="font-family:Georgia, 'Times New Roman', Times, serif;font-weight: bold;font-size: 20px;margin-right: 10px;color:#22404A;display:none;"
                        id="logo">Zodix</p>
                </div>
        
            </nav>
        
        </div>
    </head>
<body style="background-color: #e4dccf;">
    <br>
<h1 style="color: #22404a ;text-align: center; font-family: Chelsea Market;"><b> Cancer Zodiac Sign</b></h1>
<br>
<!--<div class="containe-fr">
    <div class="image">
        <img src="Zodiac Signs/Aries.png" alt="Aries symbol">
        </div>
    -->
    <div class="container-fluid">
        <div class="row">
            <div class="col" style="background-color: #4c6a78; color: bisque; height: 300px; font-size: 25px;  width: 600px;" id="cancerimg">
                <p style="font-family: Georgia, 'Times New Roman', Times, serif;"> 
                    &nbsp <u>Element</u>: <b>Water</b><br> 
                    &nbsp <u>Color</u>: <b>White</b><br>
                    &nbsp <u>Quality</u>: <b>Cardinal</b> <br>
                    &nbsp <u>Day</u>: <b>Monday, Thursday</b><br>
                    &nbsp <u>Ruler</u>: <b>Moon</b><br>
                    &nbsp  <u>Greatest compatibility</u>: <b>Capricorn, Taurus</b><br>
                    &nbsp <u>Lucky numbers</u>: <b>2, 3, 15, 20</b><br>
                    &nbsp  <u>Dates</u>: <b>June 21 - July 22</b></p>
            
</div>
<div class="col" style="border:5px solid #4c6a78; background-color: #E0B4A4">
    <center><img th:src="@{/Zodiac Signs (Black)/Cancer.png}" style="width: 290px; height: 290px; "></center>
</div>

</div>
</div>

<div id="cancer" style="display:none;background-color: #b2bcbb; border-left:5px solid #4c6a78;border-bottom:5px solid #4c6a78;border-right:5px solid #4c6a78;">
<p style="color:black; font-family: chalkboard; font-size: 25px; width: 1400px; margin-left: 15px;">
    The personality of a cancerous person is like wading chest deep in a lake of warm water. It feels sparkling and 
    cool while it is touching the body, but you know that if you were to dive in, it would feel warm.
The self-awareness of cancer is like the tides. They are constantly moving in and out of focus. 
Their personality is layered. They have many moods, some of which are contradictory, but they also have a deep, 
core self that persists.
Cancers are weighed down by their own sorrows and the sorrows of those around them. They are 
frequently haunted by grief. It is hard for them to share their pain with others, and they are often 
afraid to be vulnerable because they carry a fear that people will use their weaknesses against them. 
Cancers have learned to hide their pain to avoid burdening anyone else. They pretend they are okay when 
they are not.
Their emotions are like an exposed nerve. They can feel everything. They are like a tuning fork that vibrates 
at the slightest provocation. They tend to carry deep grudges because they cannot forget the emotional sting 
of a slight.

</p>
</div>
<br>
<h1 style="color: #22404a ;text-align: center; font-family: Chelsea Market;"><b> Pisces Zodiac Sign</b></h1>

<br>
<div class="container-fluid">
    <div class="row">
        <div class="col" style="background-color: #4c6a78; color: bisque; height: 300px; font-size: 25px;  width: 600px;" id="piscesimg">
            <p style="font-family: Georgia, 'Times New Roman', Times, serif;"> 
                &nbsp <u>Element</u>: <b>Water</b><br> 
                &nbsp <u>Color</u>: <b>Mauve, Lilac, Purple, Violet, Sea green</b><br>
                &nbsp <u>Quality</u>: <b>Mutable</b> <br>
                &nbsp <u>Day</u>: <b>Thursday</b><br>
                &nbsp <u>Ruler</u>: <b>Neptune, Jupiter</b><br>
                &nbsp  <u>Greatest compatibility</u>: <b>Virgo, Taurus</b><br>
                &nbsp <u>Lucky numbers</u>: <b>3, 9, 12, 15, 18, 24</b><br>
                &nbsp  <u>Dates</u>: <b>February 19 - March 20</b></p>
        
</div>
<div class="col" style="border:5px solid #4c6a78;background-color: #E0B4A4 ">
<center><img th:src="@{/Zodiac Signs (Black)/Pisces.png}" style="width: 290px; height: 290px; "></center>
</div>

</div>
</div>

<div id="pisces" style="display:none;background-color: #b2bcbb; border-left:5px solid #4c6a78;border-bottom:5px solid #4c6a78;border-right:5px solid #4c6a78;">
<p style="color:black; font-family: chalkboard; font-size: 25px; width: 1400px; margin-left: 15px;">
    
    Describing a Pisces personality can be difficult because Pisces tend to evade distinction. 
    Their behavior changes significantly based on who they are around. Pisces are just permeable membranes 
    that pensively let things flow through them. They are cerebral sea sponges. They are boundless. 
    They tend to dilute themselves with larger personalities to avoid having to form coherent identities.
    Most of the qualities usually associated with Pisces (dreaminess, emotionality, imagination) are 
    internal processes that are difficult to observe from the outside. This is because Pisces are primarily 
    inward-facing. They are not self-absorbed, but they are absorbed in themselves.
    Ultimately, a Pisces wants to dissolve. To wrest themselves of a physical form and diffuse into everything 
    they touch as love. To exist in the gossamer liminal layer that hangs just barely above the material. 
    To live their life like a romantic poem. To understand that reality and fantasy are neighbors on the 
    same infinite plane.
    
    
    
</p>
</div>
<br>
<h1 style="color: #22404a ;text-align: center; font-family: Chelsea Market;"><b> Scorpio Zodiac Sign</b></h1>

<br><br>
<div class="container-fluid">
    <div class="row">
        <div class="col" style="background-color: #4c6a78; color: bisque; height: 300px; font-size: 25px;  width: 600px;" id="scorpioimg">
            <p style="font-family: Georgia, 'Times New Roman', Times, serif;"> 
                &nbsp <u>Element</u>: <b>Water</b><br> 
                &nbsp <u>Color</u>: <b>Scarlet, Red, Rust</b><br>
                &nbsp <u>Quality</u>: <b>Fixed</b> <br>
                &nbsp <u>Day</u>: <b>Tuesday</b><br>
                &nbsp <u>Ruler</u>: <b>Pluto, Mars</b><br>
                &nbsp  <u>Greatest compatibility</u>: <b>Taurus, Cancer</b><br>
                &nbsp <u>Lucky numbers</u>: <b>8, 11, 18, 22</b><br>
                &nbsp  <u>Dates</u>: <b>October 23 - November 21</b></p>
        
</div>
<div class="col" style="border:5px solid #4c6a78; background-color: #E0B4A4">
<center><img th:src="@{/Zodiac Signs (Black)/Scorpio.png}" style="width: 290px; height: 290px; "></center>
</div>

</div>
</div>

<div id="scorpio" style="display:none;background-color: #b2bcbb; border-left:5px solid #4c6a78;border-bottom:5px solid #4c6a78;border-right:5px solid #4c6a78;">
<p style="color:black; font-family: chalkboard; font-size: 25px; width: 1400px; margin-left: 15px;">
    The Scorpio personality is a profound chasm of infinite complexity 
    (or at least how they project themselves). They are difficult people to get to know. 
    They are psychological trap doors. They socialize from behind a double-sided mirror, always scanning,
     reading you while you can only see your own reflection. They prefer to be the people asking the questions. 
     They remove your skin with their perceptive scalpel and take inventory of your pulsing viscera. 
     They probe and push. They know the little things that make you tick. Your pressure points. 
     The subtle ways to procure the answer they are seeking. They are keenly aware of power, its flows, 
     and their position within its matrix.
Despite their ability to be generally popular, there is something very lonely about Scorpios. 
They have a ruthless view of the world. Eat or be eaten. Every human interaction is a meeting of opposing 
powerful forces. A clashing of wants and needs where somebody wins and somebody loses. Their knowledge of
 others internal structures gives them an edge over the competition. They know how to play people 
 against each other. They are forthcoming and evasive at the same time, depending on what is situationally 
 beneficial. They are blunt, but not tactlessly so. They are intentional about the information they reveal. 
 They are not liars, they do not espouse falsehoods, but they are masters of opening windows on certain truths 
 while concealing others behind heavy curtains.

</p>
</div>
<br>
<div style="background-color:#22404A;color:#e4dccf;text-align: center;font-weight: bold;">
    <p>
      Made By Soumyyaa Jain & Gargi Shukla
    </p>
</div>
</body>
</html>

